.task-content {
    width: 100%;
    display: flex;
    align-items: center;


    .task-index {
        width: 30px;
        height: 30px;
        border: 2px solid #e7b7ae;
        color: #e7b7ae;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50%;
        margin-right: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .task {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .task-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .task-item__title {
                margin: 0;
                font-family: SFUI;
                font-size: 16px;
                font-weight: 300;
                line-height: 17px;
                color: #333333;
                margin-bottom: 10px;
                margin-right: auto;
            }
        }
    
        .task-param {
            display: flex;
            align-items: center;
    
            .task-param__img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
    
            .task-param__count {
                margin: 0;
                font-family: SFUI;
                font-size: 16px;
                font-weight: 300;
                line-height: 17px;
                color: #333333;
            }
    
        }
    }
}

.dark-theme .task-item__title {
    color: #fff !important;
}

.dark-theme .task-param__count {
    color: #fff !important;
}